version: '3.8'

services:
  # 1. AUTH SERVICE DATABASE (Chạy trên cổng 5433 của máy Host)
  auth_db:
    image: postgres:15-alpine
    container_name: hrm_auth_db
    environment:
      POSTGRES_DB: auth_db         # Tên Database DEDICATED
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432" # Ánh xạ cổng 5432 nội bộ ra 5433 host
    volumes:
      - auth_data:/var/lib/postgresql/data
    restart: always

  # 2. EMPLOYEE SERVICE DATABASE (Chạy trên cổng 5434 của máy Host)
  employee_db:
    image: postgres:15-alpine
    container_name: hrm_employee_db
    environment:
      POSTGRES_DB: employee_db     # Tên Database DEDICATED
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432" # Ánh xạ cổng 5432 nội bộ ra 5434 host
    volumes:
      - employee_data:/var/lib/postgresql/data
    restart: always

    # 3. ATTENDANCE SERVICE DATABASE (Chạy trên cổng 5435 của máy Host)
  attendance_db:
    image: postgres:15-alpine
    container_name: hrm_attendance_db
    environment:
      POSTGRES_DB: attendance_db     # Tên Database DEDICATED
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432" # Ánh xạ cổng 5432 nội bộ ra 5435 host
    volumes:
      - attendance_data:/var/lib/postgresql/data
    restart: always

  # 3. EUREKA SERVER SERVICE
  eureka-server:
    build:
      context: ./eureka-server
      dockerfile: Dockerfile
    container_name: hrm_eureka_server
    ports:
      - "8761:8761"
    restart: always

volumes:
  auth_data:
  employee_data:
  attendance_data: